<!DOCTYPE html>
<html>
<head>
  <title>Backbone</title>
  <%= include_stylesheets :application, :media => 'all' %>
  <%= include_javascripts :core, :initializers, :helpers, :templates, :application %>
  <%= csrf_meta_tag %>
  </head>
<body>
<%= yield %>
</body>
</html>
